<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>OAuth Sample Application</title>
        <link th:href="@{/style.css}" type="text/css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="header" layout:fragment="header">
            <h2 style="float: left;">OAuth Example</h2>
            <div id="user-details" sec:authorize="isAuthenticated()">
                <form name="logoutForm" th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="site-nav">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/account}"> My Account</a>
            </div>
        </div>
        <div id="content" layout:fragment="content">
        </div>
        <div id="footer" layout:fragment="footer">
        </div>
    </body>
</html>
