body,
input {
    font-size: 16px;
    font-family: sans-serif;
    color: #555;
}


html {
    max-width: 900px;
    margin: 0 auto;
}

a, a:visited {
    color: #555;
}

#user-details {
    float: right;
}

#user-details input[type=submit] {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 16px;
    padding: 8px 16px;
}

#site-nav {
    margin-top: 10px;
}

#site-nav a {
    display: inline-block;
    margin-right: 10px;
}

#content input[type=submit] {
    border: 1px solid #ccc;
    background: #fff;
    padding: 16px 16px;
}

input[type=text] {
    padding: 8px;
}

.stacked-form input {
    display: block;
    margin: 10px 0;
}

#header {
    border-bottom: 1px solid #ccc;
}

.oauth-login-link {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 16px 16px 16px 52px;
    border: 1px solid #ccc;
    text-decoration: none;
    display: block;
    width: 100px;
    margin: 10px auto;
}

.github-login {
    background-image: url('/GitHub-Mark-32px.png');
}

.google-login {
    background-image: url('/google-32px.png');
}

.twitter-login {
    background-image: url('/twitter-logo-32px.png');
}

.sign-in-page {
    text-align: center;
}