<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div id="content" class="sign-in-page" layout:fragment="content">
            <h2>Sign In</h2>
            <a th:href="${casAuthUrl}" th:class="'oauth-login-link cas-login'">CAS</a>
            <a th:href="${gitHubAuthUrl}" th:class="'oauth-login-link github-login'">GitHub</a>
            <a th:href="${google2AuthUrl}" th:class="'oauth-login-link google-login'">Google</a>
            <a th:href="${twitterAuthUrl}" th:class="'oauth-login-link twitter-login'">Twitter</a>
        </div>
    </body>
</html>
